body
{
background-color:grey;
}

#logout
{
	font-size: 20px;
     float: right;
}
.name{
  width:30%;
     font-size: 30px;
     }
#logo{
 height: 40px;
 width: 40px;
   }  
#output{
     text-align: center;
     background-color:lightblue ;
     font-size: medium;
     border-width:4px;
     border-style: solid;
     border-color: white;
     font-family: 'Times New Roman';
     padding: 25px;
     border-radius: 20px;
}    
     